/* :host {
  display: block;
} */
.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

div#main-div {
  background: blue;
}

#modal.show {
  display: block; /* Show the modal */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-footer .btn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer .btn.cancel {
  background-color: #ccc;
}

.modal-footer .btn.confirm {
  background-color: #007bff;
  color: white;
}

.modal-footer .btn.cancel:hover {
  background-color: #bbb;
}

.modal-footer .btn.confirm:hover {
  background-color: #0056b3;
}

.modal .close {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal .close:focus {
  outline: none;
}

.content-section {
  padding: 20px 0;
  font-size: 20px;
}